/* style body text */
body {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}

/* head */
h1 {
    font-weight: 900;
}

/* style resume headings */
h2 {
    font-weight: 900;
    padding: 20px 0 12px 0;
    border-bottom: 1px solid #DFE2E6;
}

/* padding */
.row {
    padding-top: 30px;
}

.bold {
    font-weight: 600;
}

/* style links */
a:link {
    color: #808080;
}

a:visited {
    color: black;
}

a:hover {
    color: #3366cc;
}

a:active {
    color: grey;
}

/* style yt embed */
iframe {
    max-width: 100%;
}

/* style subheading */
h3 {
    font-weight:700;
    text-transform: lowercase;
}

/* style footer */
footer {
    text-align: right;
}